/* Captcha */

.rc-anchor-normal-footer{
	position: relative;
  	z-index: 2000;
}

/* Body */

#content{
    background-color:#1a1a1a;
}


#primary-menu ul li > a {
    display: block;
    line-height: 22px;
    padding: 39px 15px;
    color: #fff;
    /*text-shadow: 0px 0px 2px rgb(255,255,255);*/
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Raleway' , sans-serif;
    -webkit-transition: margin .4s ease, padding .4s ease;
    -o-transition: margin .4s ease, padding .4s ease;
    transition: margin .4s ease, padding .4s ease;
}

#primary-menu ul li:hover > a{
    text-shadow: white!important;
}

p{
    color: #fff;
}
h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
    font-weight: 600;
    line-height: 1.5;
    margin: 0 0 30px 0;
    font-family: 'Raleway', sans-serif;
}
label {
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffffff;
    margin-bottom: 10px;
    cursor: pointer;
}
h1 > span:not(.nocolor):not(.badge),
h2 > span:not(.nocolor):not(.badge),
h3 > span:not(.nocolor):not(.badge),
h4 > span:not(.nocolor):not(.badge),
h5 > span:not(.nocolor):not(.badge),
h6 > span:not(.nocolor):not(.badge) { color: #EB9C4D; }

a {
    text-decoration: none !important;
    color: #EB9C4D;
}


/* ====================================== message ========================================*/
.style-msg, .style-msg2 {
    position: relative;
    display: block;
    color: #444;
    border-left: 4px solid rgba(0,0,0,0.1);
    margin-bottom: 0px;
}
.successmsg {
    background: #83f678;
    color: #184B21;
}

/* ====================================== sidebar =========================================*/
.spost .entry-title h4 a, .mpost .entry-title h4 a {
    color: #ffffff;
}

.spost .entry-title h4 a:hover,
.mpost .entry-title h4 a:hover { color:  #EB9C4D; }
/* ====================================== Accueil ======================================== */
.section {
    position: relative;
    margin: 0px 0;
    padding: 60px 0;
    background-color: #F9F9F9;
    overflow: hidden;
}

.présentation_kat h3{
    font-size:44px;
}

.parallax span{
    font-size: 22px;
    font-weight: 300;
}

.présentation_kat{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    /*text-shadow: 0px 0px 5px rgb(255, 255, 255);*/
}

.bottommargin-lg {
    margin-bottom: 0px !important;
}

.entry-image img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}

@media screen and (max-width: 974px) {
    #page-title.page-title-parallax{
        display:none;
    }

    #page-title-mobile.page-title-parallax-mobile{
        width:100%;
        height:683px;
    }

    #page-title-mobile.page-title-parallax-mobile h1 {
        font-size: 40px;
        font-weight: 600;
        letter-spacing: 2px;
        color: rgba(255,255,255,0.9) !important;
        text-shadow: 0px 0px 3px #EB9C4D;
    }

    #page-title-mobile.page-title-parallax-mobile.page-title-right {
        text-align: right;
    }

    #page-title-mobile.page-title-parallax-mobile span {
        font-size: 22px;
        text-shadow: 0px 0px 3px #EB9C4D;
    }
    #page-title-mobile.page-title-dark span {
        color: rgba(255,255,255,0.7);
    }
    #page-title-mobile span {
        display: block;
        margin-top: 10px;
        font-weight: 300;
        color: #777;
        font-size: 18px;
    }
    .parallax{
        display: none;
    }

    .parallax-mobile{
        width: 100%;
        height:683px;
    }

}

@media screen and (min-width: 975px) {

    #page-title.page-title-parallax h1 {
        text-shadow: 0px 0px 3px #EB9C4D;
    }

    #page-title.page-title-parallax span {
        text-shadow: 0px 0px 3px #EB9C4D;
    }

    #page-title{
        height:683px;
    }

    #header.transparent-header + #page-title.page-title-parallax{
        background-color:black;
        width:100%;
    }

    #page-title-mobile.page-title-parallax-mobile{
        display:none;
    }

    .mega-menu-content{
        display:none;
    }

    .parallax-mobile{
        display: none;
    }

    .parallax{
        width: 100%;
        height:683px;
    }

}
.bd-accueil{
    /* The image used */
    background-image: url("images_kat/kat_background.jpg");
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (max-width: 974px) {
    .bd-accueil {
        padding: 250px 0;
        background-image: url('images_kat/kat_background.jpg');
        background-size: cover;
        background-position: center center;
    }
}

.nobottommargin-accueil h1{
    text-shadow: 0px 0px 3px #EB9C4D;
}


.nobottommargin-accueil span{
    font-size: 22px;
    display: block;
    margin-top: 10px;
    font-weight: 300;
    color: rgba(255,255,255,0.7);
    text-shadow: 0px 0px 3px #EB9C4D;
}

.testi-content p{
    color:black;
}

.testimonial::after {
    /* border-top: 15px solid #333333; */
    /* border-right: 15px solid transparent; */
    border-width: 25px;
    width: 500px;
    height: 500px;
    top: 0px;
    position: absolute;
    left: 0px;
    content: "◤";
    display: block;
}

.testimonial {
    background-color: #4b4b4b;
}

.testi-meta{
    color:white;
}

.portfolio-item .portfolio-image{
    height: 285px;
    object-fit: cover;
}

#page-title.page-title-parallax {
    background-color: black;
    background-attachment: fixed;
    background-position: 50% 0 !important;
    background-repeat: no-repeat;
}


/* ===================================================== Music ====================================== */

.img-bd-music{
    /* The image used */
    background-image: url("images_kat/kat.jpg");

    /* Set a specific height */
    height: 450px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 974px) {

    .img-bd-music {
        height:300px;
        padding: 17%;
    }

}





/* ===================================================== Video ====================================== */

.img-bd-video{
    /* The image used */
    background-image: url("images_kat/bd-video.jpg");

    /* Set a specific height */
    height: 450px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.titre-bd {
    margin-top: 5em;
}

@media screen and (min-width: 975px) {
    #page-blog h1 {
        justify-content: center;
        padding-top: 0.5em;
        margin: 0;
        /* line-height: 1; */
        font-weight: 600;
        letter-spacing: 1px;
        color: #333;
        font-size: 150px;
        text-transform: uppercase;
    }
}
@media screen and (max-width: 974px) {
    #page-blog h1 {
        justify-content: center;
        padding-top: 1.2em;
        margin: 0;
        /* line-height: 1; */
        font-weight: 600;
        letter-spacing: 1px;
        color: #333;
        font-size: 50px;
        text-transform: uppercase;
    }

    .img-bd-video{
        height:300px;
        padding: 17%;
    }
}
/* ================================================ Live Agenda =================================*/

@media screen and (max-width: 974px) {

    .img-bd-live{
        height:300px;
        padding: 17%;
    }

}


.img-bd-live{
    /* The image used */
    background-image: url("images_kat/bd-live.jpg");

    /* Set a specific height */
    height: 450px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.p-presentation{
    color: #0b0b0b;
}
.cursor_none{
    cursor: default;
}
.entry-date{
    height:84px!important;
}
.entry_liveAgenda{
    min-height:351.5px;
}

/* ===================================================== News ====================================*/

@media screen and (max-width: 974px) {
    .img-bd-news{
        height:300px;
        padding: 17%;
    }

}

.img-bd-news{
    /* The image used */
    background-image: url("images_kat/bd-news.jpg");

    /* Set a specific height */
    height: 450px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-img-top.image-menu{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.small-thumbs .entry-image img{
    border-radius: 0;
    border: solid 1px white;
    box-shadow: 1px 1px 3px #EB9C4D;
}

.entry-title h1{
    margin-bottom: 0px;
    color: #EB9C4D;
}

a:hover { color: white;text-shadow: 0px 0px 3px #EB9C4D; }

/*  ========================================== Article ===================================== */

.more-link {
    display: inline-block;
    border-bottom: 1px solid #EB9C4D;
    padding: 0 2px;
    font-family: 'Crete Round', serif;
    font-style: italic;
    text-decoration: none;
}
/*.articleImg{*/
/*    border-radius: 0;*/
/*    border: solid 1px white;*/
/*    box-shadow: 1px 1px 3px #eb9c4d;*/
/*}*/
.img-bd-article{
    /* The image used */
    background-image: url("images_kat/bd-article.jpg");

    /* Set a specific height */
    height: 150px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.comment-content .comment-author {
    margin-bottom: -10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}
.commentlist li {
    margin: 30px 0 30px 0px;
    color: #fff;
}

.comments-title{
    font-size: 36px;
}

.cardEvent{
    min-height: 346px;
}

.entry:after {
    /*content: '';*/
    /*position: relative;*/
    height: 0px;
    margin-top: 0px;
    /*background-color: #F5F5F5;*/
}

.commentlist {

    /*list-style: none;*/
    padding-bottom: 0px;
    margin: 0 0 00px;
    border-bottom: 0px solid #EEE;
}

/*  ========================================== Contact ===================================== */

@media screen and (max-width: 975px) {

    #page-menu nav {
        display: none;
        position: absolute;
        float: left;
        width: 115%;
        top: 50px;
        left: 0px;
        right: 15px;
        height: auto;
        background-color: #EB9C4D;
        z-index: 11;
    }

    body:not(.no-transition) #wrapper, .animsition-overlay {
        position: fixed;
        z-index: 150;
        opacity: 0.9!important;
    }
    #page-menu, #page-menu-wrap {
        position: fixed;
        height: 50px;
        top: 102px;
        z-index: 149;
        width:100%;
    }

    #livredor{
        position: absolute;
        top: 0px!important;
    }

    #cahierdescharges{
        position: absolute;
        top: 1480px!important;
    }

    #contactpro{
        position: absolute;
        top: 2775px!important;
    }
}

@media screen and (min-width: 976px) and (max-width: 1183px) {

    #cahierdescharges{
        position: absolute;
        top: 1050px!important;
    }

    #contactpro{
        position: absolute;
        top: 2315px!important;
    }
}

#livredor{
    position: absolute;
    top: 150px;
}

#cahierdescharges{
    position: absolute;
    top: 1040px;
}

#contactpro{
    position: absolute;
    top: 1840px;
}


#page-menu.sticky-page-menu #page-menu-wrap {
    position: fixed;
    z-index: 99;
    left: 0;
    width: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    top: 60px;
}
.fancy-title.title-dotted-border {
    background: none;
}
.fancy-title h1, .fancy-title h2, .fancy-title h3, .fancy-title h4, .fancy-title h5, .fancy-title h6 {
    position: relative;
    display: inline-block;
    background-color: #1a1a1a;
    padding-right: 15px;
    margin-bottom: 0;
}
#page-menu-wrap {
    z-index: 99;
    background-color: #EB9C4D;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
}

.testi-meta {
    margin-top: 10px;
    font-size: 13px;
    font-weight: bold;
    text-transform: capitalize;
}
.content-wrap-contact {
    position: relative;
    padding: 0px 0;
    margin-bottom: 4%;
}

.content-wrap-contact ul {
    list-style: none;
    text-align: left;
}

.feature-box.fbox-bg.fbox-center {
    margin-top: 68px;
    background-color: #1a1a1a;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    margin-bottom: 48px;
}

#img_cahierdescharges{
    height:400px;
}
textarea.form-control {
    height: 150px;
}

.headerContakt{
    padding: 1%;
    text-align: center;
    background-color: #4b4b4b;
    border: 1px solid black;
    height:100px;
}

.headerContakt h1{
    display:inline;
}

.img_header_contakt{
    width: 60px;
    height: 60px;
    display: inline-block;
    display: inline-block;
}


.dark #copyrights {
    background-color: black;
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

/*  ========================================== Footer ===================================== */

.signature {
    text-align: left;
    display: inline;
}
/*  ========================================== Pagination ===================================== */

.btn-link, .page-link, .page-link:hover, .page-link:focus {
    color: #EB9C4D;
}
.page-item.active .page-link, .page-link:hover, .page-link:focus {
    color: #FFF !important;
    background-color: #EB9C4D !important;
    border-color: #EB9C4D !important;
}
.pagination{
    justify-content: center;
}
