
{% extends ('base.html.twig') %} 
    {% block body %}
        <div class='container-fluid'>
            <div id="carouselExampleIndicators" data-touch="false" class="carousel slide" data-interval="false">
                <div class="carousel-inner">
                    <div class="carousel-item home_carousel active">
                        <div class="container-fluid accueil">
                            <div class="home_text">
                                <h1>
                                    </br>
                                    <span class="logo">
                                        <p class="box">
                                            <span class="content"></span>
                                        </p>
                                    </span>
                                    <span>Moreau Yorik</span>
                                    </br>
                                    <span>Développeur Web et Webmobile</span>
                                </h1>
                                <div class="indicator">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <div class="bannière citation">
                            <h1>" Donnez vie à vos idées ! "</h1>
                        </div>
                        <div class="container À_propos">
                            <header class="page_header">
                                <h2>A propos</h2>
                                <h3>Ma passion du web, à votre service.</h3>
                            </header>
                            <div class="my_divider">
                                <div class="my_dividermask"></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 sm-12 article">
                                    <h3>Développeur web full stack</h3>
                                    <p class="paragraphe">
                                        Diplômé Bac+2 développeur web depuis février 2020, j'ai vite choisi de devenir développeur freelance afin de continuer à 
                                        évoluer à travers la réalisation de services répondants aux besoins de mes clients.
                                    </p>
                                    <h3>Ma carrière</h3>
                                    <p>    
                                        <span class="bold">Je recherche un contrat d'alternance.</span>
                                        Je suis à ce jour inscrit au campus MyDigitalSchool de Nantes où je préparerai en septembre 2020, un Bachelor 3 (niveau licence).
                                    </p>
                                </div>
                                <div class="col-lg-4 sm-12 justify article">
                                    <div class="clock">
                                        <div class="hour">
                                            <div class="hr" id="hr"></div>
                                        </div>
                                        <div class="min">
                                            <div class="mn" id="mn"></div>
                                        </div>
                                        <div class="sec">
                                            <div class="sc" id="sc"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 sm-12 article">
                                    <h3>Mes différents services</h3>
                                    <p>En perpétuel apprentissage de nouvelles compétences, je suis aujourd'hui capable de livrer différents types de sites web totalement sur mesure.
                                        Du simple site vitrine avec une seule page statique, en passant par un blog au contenu dynamique gérable par un back-office, 
                                        jusqu'à la plateforme e-commerce plus complète.
                                    </p>
                                </div>
                            </div>    
                        </div>
                    </div>
                    <div class="carousel-item réalisations_carousel">
                        <div class="bannière pointcom">
                            <h1>POINTCOM-INFORMATIQUE<br>Site vitrine de l'entreprise</h1>
                        </div>
                        <div class="swip container-fluid">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide"><a href="#"><img src="images/pointcom-informatique.jpg" class="swiper-lazy"><div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div></a></div>
                                    <div class="swiper-slide"><a href="#"><img src="images/pointcom_liens_partenaires.jpg" class="swiper-lazy"><div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div></a></div>
                                    <div class="swiper-slide"><a href="#"><img src="images/pointcom_espace_informatique1.jpg" class="swiper-lazy"><div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div></a></div>
                                    <div class="swiper-slide"><a href="#"><img src="images/pointcom_espace_informatique2.jpg" class="swiper-lazy"><div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div></a></div>
                                    <div class="swiper-slide"><a href="#"><img src="images/pointcom_formulaire_services.jpg" class="swiper-lazy"><div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div></a></div>
                                    <div class="swiper-slide"><a href="#"><img src="images/pointcom_imprimerie.jpg" class="swiper-lazy"><div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div></a></div>
                                </div>
                                <!-- Add Pagination -->
                                <div class="swiper-pagination">
                                </div>
                            </div>
                        </div>
                        <div class="bannière kat-musik">
                            <h1>Kat-musiK.com<br>Blog/e-commerce</h1>
                        </div>
                        <div class="swip container-fluid">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide"><a href="#"><img src="images/Kat-musik.jpg" class="swiper-lazy"><div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div></a></div>
                                    <div class="swiper-slide"><a href="#"><img src="images/Kat-musik_musique.jpg" class="swiper-lazy"><div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div></a></div>
                                    <div class="swiper-slide"><a href="#"><img src="images/Kat-musik_video.jpg" class="swiper-lazy"><div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div></a></div>
                                    <div class="swiper-slide"><a href="#"><img src="images/Kat-musik_news.jpg" class="swiper-lazy"><div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div></a></div>
                                    <div class="swiper-slide"><a href="#"><img src="images/Kat-musik_live.jpg" class="swiper-lazy"><div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div></a></div>
                                    <div class="swiper-slide"><a href="#"><img src="images/Shop_Kat1.jpg" class="swiper-lazy"><div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div></a></div>
                                    <div class="swiper-slide"><a href="#"><img src="images/Shop_Kat.jpg" class="swiper-lazy"><div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div></a></div>
                                </div>
                                <!-- Add Pagination -->
                                <div class="swiper-pagination">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item compétences_carousel">
                        <div class="container-fluid">
   
                        </div>
                    </div>
                    <div class="carousel-item contact_carousel">
                        <div class="container-fluid">
                            <img class="d-block w-100" src="images/bannière.jpg" alt="Fourth slide">
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

{% endblock %}

